.box {
	position: relative;
}
.bg-wraper {
	position: absolute;
	left: 150px;
	top: 87px;
}
.title-h5 {
	color: white;
	font-size: 40px;
}
.title-h5:hover{
	color: green;
	background: blue;
	transition-property: all;
	transition-delay:0.5s ;
}